{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<div class='background-home'>
    <div class="container">
        <h1 id='up' class='pt-5 text-light font-weight-bold'>SnowTricks</h1>
        <h2 class='pt-2 text-uppercase text-info'>Riders<br> on<br> the<br> storm *</h2>
    </div>
</div>
<a class='up-down' href='#down'><img src='/pictures/down.png'></a>

{% if app.user %}
<div class="mt-5 text-center">
    <a href="{{ path('trick.create') }}"><button class="btn btn-dark">Ajouter une figure</button></a>
</div>
{% endif %}
<div id="tricks" class="container-fluid mt-4">
    <div class="row">
        {% for trick in tricks %}
        <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3">
            <a class="text-left" href="{{ path('trick.single' , {slug : trick.slug, id : trick.id}) }}">
                <div class="one-trick shadow">
                    <img class="card-picture" src='/uploads/trick/{{ trick.mainImage }}' height="200px">
                    <div class="row body-card">
                        <div class="col-9">

                            <h4 class="text-uppercase ml-3">{{ trick.title }} </h4>
            </a>
        </div>
        {% if app.user %}
        <div class="col-3">
            <a href="{{ path('trick.update', { id: trick.id , slug: trick.slug }) }}"><img src="/pictures/crayon.png"
                    width="37px" alt="editer"></a>

            <a class='delete' href="{{ path('trick.delete', {id: trick.id,csrf: csrf_token('trick_delete')}) }}"><img
                    src="/pictures/poubelle.png" width="37px" alt="supprimer"></a>
        </div>
        {% endif %}
    </div>
</div>
</div>


{% endfor %}

</div>
<a class='text-right up-down' id='down' href='#up'><img src='/pictures/up.png'></a>
<button onlick='loadMore' class='text-center btn btn-secondary'>Voir plus</button>

</div>



{% endblock %}