{% extends 'base.html.twig' %}

{% block title %}{{ trick.title }}{% endblock %}

{% block body %}
<div class='container'>
    {% if app.user %}
    <a href="{{ path('trick.update' , { id : trick.id , slug : trick.slug} )}}"><button
            class="mt-4 mb-4 text-center btn btn-dark">Modifier</button></a>
    {% endif %}
    <div class='trick-single shadow'>
        <img src="/uploads/trick/{{trick.mainImage}}" width="100%">
        <p>
        <h1>{{ trick.title }} </h1> Publié le : <span class="font-weight-bold">{{trick.formatedDate }}</span> |
        Catégorie : <span class="font-weight-bold">{{trick.category}}</span> | Commentaires : <span
            class="font-weight-bold"> {{ trick.comments | length }}</span> </p>

        <p>{{ trick.description }}</p>
        <div class='row'>

            {% for picture in trick.pictures  %}        
            <div class="{{ (loop.first )? 'active': ""}} col-xl-3">
                <img class='pr-2' src="/uploads/trick/{{ picture.name }}" alt='Photo de tricks' width='300px'
                    height="200px">
            </div>
            {% endfor %}
        </div>
        <div class='row'>
            {% for video in trick.videos %}
            <div class="{{ (loop.first )? 'active': ""}} col-xl-3">
                <embed src="{{ video.link }}" allowfullscreen="true" width="300" height="200px">
            </div>
            {% endfor %}
        </div>
    </div>
    {% if app.user %}
    {{ form_start(form) }}
        
    {{ form_end(form)  }}
    {% else %}
    <h3 class="text-center">Connectez-vous afin de pouvoir poster un commentaire</h3>
    {% endif %}


    <div class='comments shadow'>
        <p class="mb-5 ml-2 lead text-uppercase">Commentaires</p>

        {% for comment in trick.comments %}
        <div class="row comment">
        <div class="col-xl-3 comment-info ">
        <img class="comment-picture" width="80px" height="80px" src="/uploads/profil/{{comment.user.pictureName}}">
        <p class="ml-3"><span class="font-weight-bold">{{ comment.user.username }}</span><br> le {{ comment.formatedDate}}</p>
        </div>
        <div class="col-xl-9">
            {{comment.content}}
        </div>
    </div>
        {% endfor %}


    </div>
</div>
    {% endblock %}